/* :: 4.0 Header Area CSS */
.header-area {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; }
    .header-area .palatin-main-menu {
      position: relative;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.63);
      border-bottom: 2px solid rgba(203, 134, 112, 0.63); }
      .header-area .palatin-main-menu .classy-nav-container {
        background-color: transparent; }
      .header-area .palatin-main-menu .classy-navbar {
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        background-color: transparent;
        height: 150px;
        padding: 0; }
        @media only screen and (max-width: 767px) {
          .header-area .palatin-main-menu .classy-navbar {
            height: 70px; } }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .header-area .palatin-main-menu .classy-navbar .nav-brand {
            max-width: 140px; } }
        @media only screen and (max-width: 767px) {
          .header-area .palatin-main-menu .classy-navbar .nav-brand {
            max-width: 140px; } }
        .header-area .palatin-main-menu .classy-navbar .classynav ul li a {
          text-transform: capitalize;
          color: #ffffff;
          font-size: 16px;
          background-color: transparent; }
          .header-area .palatin-main-menu .classy-navbar .classynav ul li a:hover, .header-area .palatin-main-menu .classy-navbar .classynav ul li a:focus {
            color: #ffffff;
            background-color: #cb8670; }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .header-area .palatin-main-menu .classy-navbar .classynav ul li a {
              font-size: 14px; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .header-area .palatin-main-menu .classy-navbar .classynav ul li a {
              background-color: #cb8670; } }
          @media only screen and (max-width: 767px) {
            .header-area .palatin-main-menu .classy-navbar .classynav ul li a {
              background-color: #cb8670; } }
        .header-area .palatin-main-menu .classy-navbar .classynav ul li.active a {
          color: #ffffff;
          background-color: #cb8670; }
        .header-area .palatin-main-menu .classy-navbar .classynav ul li.megamenu-item > a::after,
        .header-area .palatin-main-menu .classy-navbar .classynav ul li.has-down > a::after {
          color: #ffffff; }
        .header-area .palatin-main-menu .classy-navbar .classynav ul li ul li a {
          color: #363636; }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .header-area .palatin-main-menu .classy-navbar .classynav ul li ul li a {
              padding: 0 20px; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .header-area .palatin-main-menu .classy-navbar .classynav ul li ul li a {
              color: #ffffff; } }
          @media only screen and (max-width: 767px) {
            .header-area .palatin-main-menu .classy-navbar .classynav ul li ul li a {
              color: #ffffff; } }
        .header-area .palatin-main-menu .classy-navbar .menu-btn {
          margin-left: 100px; }
          @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .header-area .palatin-main-menu .classy-navbar .menu-btn {
              margin-left: 30px; } }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .header-area .palatin-main-menu .classy-navbar .menu-btn {
              margin-left: 30px;
              border: 2px solid #ffffff;
              margin-top: 30px;
              display: inline-block; } }
          @media only screen and (max-width: 767px) {
            .header-area .palatin-main-menu .classy-navbar .menu-btn {
              margin-left: 30px;
              border: 2px solid #ffffff;
              margin-top: 30px;
              display: inline-block; } }
          .header-area .palatin-main-menu .classy-navbar .menu-btn a {
            color: #ffffff;
            font-size: 16px; }
    .header-area .is-sticky .palatin-main-menu {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9999;
      background-color: #000;
      box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2); }
      .header-area .is-sticky .palatin-main-menu .classy-navbar {
        height: 90px; }
        @media only screen and (max-width: 767px) {
          .header-area .is-sticky .palatin-main-menu .classy-navbar {
            height: 70px; } }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .breakpoint-on .classy-navbar .classy-menu {
      background-color: #cb8670; } }
  @media only screen and (max-width: 767px) {
    .breakpoint-on .classy-navbar .classy-menu {
      background-color: #cb8670; } }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .classynav ul li .megamenu .single-mega.cn-col-4 {
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .classynav ul li .megamenu .single-mega.cn-col-4 {
      padding: 0; } }
  
  .classycloseIcon .cross-wrap span {
    background: #ffffff; }      